---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { ArrowUpRight } from "@phosphor-icons/react";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project: { slug: string }) => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;
const projects = await getCollection("projects");
const project = projects.find((p: any) => p.slug === slug);

const metadata = {
  title: "Content | Bagas Miftahun",
  description:
    "Personal website and portfolio of Bagas Miftahun, a full stack web developer based in Indonesia.",
};
---

<Layout title={metadata.title} description={metadata.description}>
  <div class="flex flex-row max-h-screen">
    <div class="flex flex-row w-full">
      <!-- Kelompok Pertama -->
      <section class="flex-grow flex flex-col w-1/2">
        <h3
          class="font-poppins text-6xl font-normal max-w-[500px] leading-tight text-start p-10"
        >
          {project.data.title}
        </h3>
        <div class="relative flex items-center justify-center">
          <hr class="border-t border-dark w-full" />
          <button class="absolute right-10 text-xl font-semibold border border-dark px-10 py-6 rounded-full hover:bg-dark hover:text-light cursor-pointer z-10 bg-white flex items-center">
            For More Details &nbsp;<ArrowUpRight size={24} />
          </button>
        </div>
        <div class="flex flex-col gap-y-6 p-10">
          <div class="flex flex-col gap-y-2">
            <p class="font-poppins text-2xl font-semibold">PROBLEM</p>

            <p class="font-normal text-xl">
              XYZ Company lacked a distinctive brand identity, making it
              difficult to stand out in a competitive market. Their existing
              logo and visual elements were generic and did not convey their
              unique value proposition.
            </p>
          </div>
          <div class="flex flex-col gap-y-4">
            <p class="font-poppins text-2xl font-semibold">SOLUTION</p>

            <p class="font-normal text-xl">
              The design team conducted market research and competitor analysis
              to understand XYZ Company's target audience and industry
              landscape. They developed a brand identity package that included a
              modern and dynamic logo, a vibrant color palette that conveyed
              energy and innovation, and typography that reflected their
              tech-focused nature.
            </p>
          </div>
        </div>
      </section>
      <!-- Kelompok Kedua -->
      <section
        class="p-10 border-l border-dark w-1/2 flex items-center justify-center"
      >
        <img src="/image.png" alt="" class="mx-auto" />
      </section>
    </div>
    <aside
      class="w-20 border-l flex flex-col items-center justify-between py-10"
    >
      <div class="transform -rotate-90 whitespace-nowrap mt-10">
        <a href="/contents" class="font-bold text-xl">Contents</a>
      </div>
      <div class="transform -rotate-90 whitespace-nowrap">
        <a href="/" class="font-bold text-xl">
          Portfolio <span class="font-normal text-xl">Bagas</span>
        </a>
      </div>
      <div class="transform -rotate-90 whitespace-nowrap mb-10">
        <a href="/contact" class="font-bold text-xl">Contact Me</a>
      </div>
    </aside>
  </div>
</Layout>
