---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "About Us",
  description: "Selamat datang di halaman tentang kami.",
};
---
<Layout title={metadata.title} description={metadata.description}>
  <h1>Welcome to the About Us Page</h1>
  <p>Ini adalah halaman utama website Anda.</p>
</Layout>
