---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import myImage from '../../public/user.png';

const metadata = {
  title: "About Me | Bagas Miftahun",
  description:
    "Personal website and portfolio of Bagas Miftahun, a full stack web developer based in Indonesia.",
};
---

<Layout title={metadata.title} description={metadata.description}>
  <div class="flex flex-row h-screen">
    <div class="flex flex-col p-10 gap-6">
      <!-- Kelompok Pertama -->
      <section class="flex-grow">
        <div class="flex items-start space-x-12">
          <div class="flex-1">
            <h3
              class="font-poppins text-6xl font-normal max-w-[700px] leading-tight"
            >
              About <br />Me
            </h3>
          </div>
          <div class="flex-1 text-right gap-y-10">
            <h1
              class="font-poppins text-6xl font-bold max-w-full text-right mb-4"
            >
              Bagas Miftahun.
            </h1>
            <a href="/contents">
              <button
                class="text-xl font-semibold border border-dark px-10 py-6 rounded-full hover:bg-dark hover:text-light"
              >
                Welcome to My Portfolio
              </button>
            </a>
          </div>
        </div>
      </section>
      <!-- Kelompok Kedua -->
      <section class="flex flex-col md:flex-row items-center max-h-screen overflow-auto gap-4">
        <Image
          src={myImage}
          alt="User"
          class="mx-auto max-h-full"
          loading="eager"
        />
        <div class="space-y-4 overflow-auto max-h-full">
          <p class="font-normal text-xl">
            I am a passionate brand designer with a keen eye for creating impactful visual identities. With a deep understanding of the power of branding, I strive to craft compelling designs that not only capture attention but also communicate the essence and values of a brand.
          </p>
          <p class="font-normal text-xl">
            My journey as a brand designer began several years ago when I discovered my love for blending art and strategy. I believe that successful branding is a harmonious fusion of creativity and purpose, and I am dedicated to delivering designs that resonate with both clients and their target audience.
          </p>
          <p class="font-normal text-xl">
            Every project I undertake is approached with meticulous attention to detail and a commitment to excellence. I immerse myself in understanding the unique characteristics of each brand, its market, and its target audience. By conducting extensive research and analysis, I ensure that my designs are not only visually appealing but also strategically aligned to achieve the desired impact.
          </p>
          <p class="font-normal text-xl">
            Thank you for visiting my portfolio. I invite you to explore my work and discover how my passion for brand design can elevate your business to new heights. If you are looking for a dedicated and creative partner to breathe life into your brand, I would love to connect and discuss how we can create something extraordinary together.
          </p>
        </div>
      </section>
    </div>
    <aside class="w-20 border-l flex items-center justify-center">
      <div class="transform -rotate-90 whitespace-nowrap">
        <a href="/" class="font-bold text-xl"
          >Portfolio <span class="font-normal text-xl">Bagas</span></a
        >
      </div>
    </aside>
  </div>
</Layout>



