---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "Pricing",
  description: "Selamat datang di halaman harga kami.",
};
---
<Layout title={metadata.title} description={metadata.description}>
  <h1>Welcome to the Pricing Page</h1>
  <p>Ini adalah halaman harga untuk produk dan layanan kami.</p>
</Layout>

