---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "Service",
  description: "Selamat datang di halaman service kami.",
};
---
<Layout title={metadata.title} description={metadata.description}>
  <h1>Welcome to the Service Page</h1>
  <p>Ini adalah halaman service untuk website Anda.</p>
  <ul>
    <li>Web Development</li>
    <li>Web Design</li>
    <li>Mobile App Development</li>
    <li>IT Consulting</li>
    <li>SEO</li>
  </ul>
</Layout>
