---
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Bagas Miftahun"}</title>
    <meta name="description" content={description || "Personal website and portfolio of Bagas Miftahun, a full stack web developer based in Indonesia."} />

    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" sizes="any">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset@1.4.0/dist/reset.min.css" />
    <ClientRouter />
  </head>
  <body class="bg-light font-inter text-dark">
    <slot class="max-h-screen"/>
  </body>
</html>