---
import { TwitterLogo, YoutubeLogo, GithubLogo, InstagramLogo, ArrowUpRight } from "@phosphor-icons/react";
---

<div class="bg-neutral-100 text-white">
  <div class="py-14 lg:px-0 px-6 max-w-7xl mx-auto">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center">
      {/* Subscribe to Email */}
      <p
        class="custom-body font-semibold text-2xl text-neutral-50 text-center md:text-left"
      >
        Stay connected w/ me.
      </p>
      <div
        class="flex items-center gap-x-4 border-b border-neutral-50 justify-center md:justify-start"
      >
        <input
          type="email"
          placeholder="Enter your email"
          class="w-full py-4 bg-neutral-100 text-lg outline-none border-none"
        />
        {/* Icon for email submission */}
        <ArrowUpRight size={28} />
      </div>
    </div>
    <div
      class="grid md:grid-cols-2 grid-cols-1 items-center justify-center mt-12"
    >
      <div class="flex flex-col gap-y-4">
        {/* Brand Name */}
        <p
          class="custom-body font-bold text-6xl text-neutral-0 text-center md:text-left"
        >
          <span class="text-neutral-40">bā</span>gas.
        </p>
        {/* Short Description */}
        <p
          class="custom-body font-normal text-[22px] text-neutral-0 text-center md:text-left"
        >
          A freelance digital designer and illustrator currently based in Berlin
        </p>
      </div>
      {/* Social Media Icons */}
      <div
        class="flex items-center gap-x-12 justify-center md:justify-end mt-4"
      >
        <TwitterLogo size={28} weight="fill" />
        <YoutubeLogo size={28} weight="fill" />
        <GithubLogo size={28} weight="fill" />
        <InstagramLogo size={28} weight="fill" />
      </div>
    </div>
    {/* Copyright Information */}
    <p
      class="custom-body font-normal text-base text-neutral-50 md:text-left text-center mt-12"
    >
      @Copyright 2024 - bagas. All rights reserved.
    </p>
  </div>
</div>
