<div class="flex items-center justify-between">
  <a href="/">
    <p class="text-3xl font-bold">
        <img src="/logo.png" alt="" class="w-24">
    </p>
  </a>
  <div class="flex items-center gap-x-4">
    <a href="/contact">
      <button
        class="hidden md:block px-5 py-3 rounded-full border border-neutral-100 bg-neutral-0 text-neutral-100 hover:bg-neutral-100 hover:text-neutral-0"
      >
        <div class="flex items-center gap-x-3">
          <p class="font-semibold text-base">Let's Talk</p>
          <i class="ph ph-arrow-right"></i>
        </div>
      </button>
    </a>

    <button
      class="px-6 py-3 rounded-full border border-neutral-100 bg-neutral-0 text-neutral-100 hover:bg-neutral-100 hover:text-neutral-0"
    >
        <i class="ph ph-list"></i>
    </button>
  </div>
</div>
